<div class="inventory-form">
  <%= form_with model: [@inventory, @inventory_food], method: :post, local: false, scope: :post, html: { class: 'food-form' } do |f| %>
    <div class="form-group">
      <%= f.label :food_id, 'Food:', class: 'label' %>
      <%= f.collection_select(:food_id, @food, :id, :name, { prompt: 'Select Food' }, class: 'select-field') %>
    </div>

    <div class="form-group">
      <%= f.label :quantity, 'Quantity:', class: 'label' %>
      <%= f.number_field :quantity, class: 'quantity-field' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Submit', class: 'submit-button' %>
    </div>
  <% end %>
</div>
