<%= form_with(model: inventory, local: true, class: 'inventory-form') do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions btn-submit">
    <%= form.submit %>
  </div>
<% end %>
