<head>
  <%= stylesheet_link_tag "inventory_details" %>
</head>
<body>
  <div class="inventory_info mrgn">
    <h1>
      <%= @inventory.name %>
    </h1>
    <div class="btn_element">
      <%= link_to 'Add food', new_inventory_food_path(id: @inventory.id), class: 'btn' %>
    </div>
  </div>
  <div class="mrgn">
    <table class="items_table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @inventory.inventory_foods.each do |item| %>
          <tr class="<%= index.even? ? 'even' : 'odd' %>">
            <td><%= Food.find(item.food_id).name %></td>
            <td><%= item.quantity %></td>
            <td><%= link_to 'Remove', inventory_food_path(item), method: :delete, remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>

